// Add custom fonts by visiting and search https://fonts.google.com
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


// Import utilities.
@import 'utils/typography';
@import 'utils/colors';
@import 'utils/mixins';
@import 'utils/variables';

/* Global styles */
@import 'global/window';
@import 'global/grid';
@import 'global/flex';

/* Styles limited to torchbearer sheets */
.torchbearer {
  @import 'components/forms';
  @import 'components/resource';
  @import 'components/items';
  @import 'components/effects';
}

h2 {
  font-weight: bold;
}

h1 {
  font-weight: bold;
}

.item {
  font-weight: bold;
}

.underline {
  width: 100%;
  height: 0px;
  border-bottom: solid 1px #782e22;
  margin-bottom: 10px
}

label {
  display: inline-block;
  vertical-align: middle;
}

.editor-content {
  width:100%;
  min-height: 150px;
}