@font-face {
    font-family: "Souvenir";
    src: url(Souvenir.ttf) format("truetype");
    font-style: normal;
}
// @font-face {
//     font-family: "Souvenir";
//     src: url(SouvenirB.ttf) format("truetype");
//     font-style: bold;
// }

$font-primary: 'Souvenir', normal;
// $font-secondary: 'Souvenir', bold;