<h2>Rolling {{label}}: {{baseDice}}D</h2>

<div class="grid grid-3col">
    <div style="display:flex;align-items:center">
        <span>Ob:&nbsp;</span>
        <input id="ob" type="number" value="1" />
    </div>
</div>

<h2>Additional Dice</h2>
<div class="grid grid-10col">
    <div class="grid-span-6">
        <div style="display:flex;align-items:right">
            <span style="min-width:120px">Misc Dice: +</span>
            <input id="miscDice" type="number" value="0" />
            <span>D</span>
        </div>
        <div style="display:flex;align-items:center">
            <span style="min-width:120px">Misc Successes: +</span>
            <input id="miscSuccesses" type="number" value="0" />
            <span>S</span>
        </div>
    </div>
</div>