<div class="flexrow flex-group-left">
    <span>Rolling {{label}}: {{baseDice}}D</span>
    {{!-- <input id="miscDice" type="number" value="0" /> --}}
</div>

<div class="flexrow flex-group-left">
    <span>Ob: </span>
    <input id="ob" type="number" value="1" />
</div>

<div class="flexrow flex-group-left">
    <span>Misc Dice: +</span>
    <input id="miscDice" type="number" value="0" />
    <span>D</span>
</div>
<div class="flexrow flex-group-left">
    <span>Misc Successes: +</span>
    <input id="miscSuccesses" type="number" value="0" />
    <span>S</span>
</div>