{{> "systems/ivys_torchbearer/templates/rolls/roll-build-dialog.hbs"}}

<h2>Dice to be Halved:</h2>
<div class="grid grid-10col" title="Wises, Help, Supplies, Gear, etc.">
    <div class="grid-span-6">
        <div style="display:flex;align-items:right">
            <span style="min-width:120px">Misc Dice: +</span>
            <input id="miscDiceHalved" type="number" value="0" />
            <span>D</span>
        </div>
    </div>
</div>